# Dependencies
node_modules/
**/node_modules/

# Build output
dist/
**/dist/
build/

# Environment / rahasia (JANGAN di-commit)
.env
**/.env
.env.local
**/.env.local

# Log & OS
*.log
npm-debug.log*
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
